.heading-1 {
  font-size: 2.2rem;
  &--dark {
    color: $color-dark-gray-blue;
    align-self: flex-start;
  }
  &--light {
    color: $color-light;
  }
}

.heading-2 {
  color: $color-white;
  font-weight: 500;
}

.btn {
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 1.4rem 2.8rem;
  font-family: inherit;
  font-size: 1.8rem;
  border-radius: 1000px;
  background-color: $color-dark-gray-blue;
  color: $color-white;
  align-self: stretch;
  transition: all 0.2s;
  // margin-top: 1.6rem;
  // margin-bottom: 1.2rem;

  &:hover {
    background-image: linear-gradient(
      to bottom,
      $color-light-back-blue-1,
      $color-light-back-blue-2
    );
  }
}
